name: Run Tests
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  unit-tests:
    name: Run Tests (${{ matrix.os }}, ${{ matrix.python-version }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # Select the Python versions to test against
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.10", "3.11"]
      fail-fast: true
    steps:
      - name: Check out the code
        uses: actions/checkout@v3.5.2
        with:
          fetch-depth: 1

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      # Install uv
      - name: Install uv
        run: pip install uv

      # Install the dependencies (test extras only)
      - name: Install Package
        run: uv sync --extra test

      # Run the unit tests and build the coverage report
      - name: Run Tests
        run: uv run pytest tests/ -v --cov=./spectraldiffx --cov-report=xml:./coverage.xml

      - name: Upload code coverage
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          name: spectraldiffx
          flags: unittests
          env_vars: OS,PYTHON
